/* =============================
:: Medium Screen Desktop: 992px 
============================= */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    nav.navigation_area ul li a {
        padding: 15px 13px 26px;
    }
    .mainmenu ul#nav li a {
        padding: 35px 10px;
    }
    .popular_coureses_area.home2 .price_rating_area {
        padding: 15px 15px 0;
    }
    .popular_coureses_area.grid_coundown .price_rating_area .timer>li>span {
        font-size: 24px;
    }
    .single-accordion h5 a {
        padding: 17px 45px 17px 20px;
    }
    .single_latest_news_text_area {
        padding: 30px 20px 20px 40px;
    }
    .contact_address_area {
        padding: 30px 0;
    }
    .single_contact_address .contact_icon {
        margin-right: 10px;
    }
    .about_us_thumb {
        height: 305px;
    }
    .price_rating_area {
        padding: 10px 20px 5px;
    }
    .single_courses_desc {
        padding: 15px 0 0;
    }
    .single_courses_desc .title {
        margin-bottom: 13px;
        padding: 0 20px;
    }
    .register_form,
    .login_form {
        padding: 17px 20px;
    }
    .newsletter_text>h4 {
        margin: 12px 0;
    }
    .about_us_area .special_service .single_special_service>h5 {
        font-size: 16px;
    }
    .sign_in_facebook>a,
    .sign_in_twitter>a,
    .sign_in_vidchain>a {
        font-size: 12px;
    }
}


/* ======================
:: Tablet Screen:768px
====================== */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    nav.navigation_area ul li a {
        font-size: 12px;
        padding: 15px 4px 26px;
    }
    .single_teacher_details_info>h5 {
        font-size: 14px;
    }
    .mainmenu ul#nav li a {
        font-size: 13px;
        padding: 36px 1px;
    }
    .single_feature {
        margin-bottom: 30px;
    }
    .gallery_area .single_gallery_item {
        width: 50%;
    }
    .awesome_features_area {
        padding-bottom: 70px;
    }
    .teacher_thumb img {
        width: 100%;
    }
    .single_teacher_profile {
        margin-bottom: 30px;
    }
    .our_teachers_area {
        padding-bottom: 70px;
    }
    .single_latest_news_area {
        margin-bottom: 30px;
    }
    .blog_area {
        padding-bottom: 70px;
    }
    .basic_contact_area {
        margin-bottom: 50px;
    }
    footer.footer_area .col-sm-6:nth-child(3),
    footer.footer_area .col-sm-6:nth-child(4) {
        margin-top: 50px;
    }
    .teacher_details_info .name_designation {
        margin-top: 30px;
    }
    .single_latest_news_img_area {
        float: none;
        width: 100%;
        display: block;
        min-height: auto;
    }
    .single_latest_news_text_area {
        display: block;
        min-height: auto;
        padding: 20px;
        width: 100%;
    }
    .contact_address_title {
        padding-bottom: 30px;
    }
    .single_contact_address .contact_icon {
        float: none;
        height: 50px;
        margin: 0;
        width: 50px;
    }
    .single_contact_address {
        text-align: center;
    }
    .contact_address_area {
        padding: 25px 0;
    }
    .single_contact_address .contact_icon i {
        font-size: 24px;
        line-height: 50px;
    }
    .about_us_thumb {
        background-color: transparent;
        height: auto;
        margin-top: 0;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .about_us_thumb>img {
        height: auto;
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
    }
    .about_us_thumb.mission img {
        left: 0;
    }
    .accordions {
        margin-top: 30px;
    }
    .login_area .login_form {
        margin-top: 50px;
    }
    .register_form {
        margin-top: 50px;
    }
    .popular_coureses_area.home2 .single_courses_desc {
        margin-bottom: 50px;
    }
    .event_details .single_event_speaker {
        margin-bottom: 30px;
    }
    .event_sidebar {
        margin-top: 50px;
    }
    .latest_post .single_latest_post {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .price_rating_area .timer>li {
        padding: 0;
        width: 22%;
    }
    .price_rating_area .timer>li>span {
        display: block !important;
    }
    .popular_coureses_area.grid_coundown .price_rating_area .timer>li>span {
        display: inline-block !important;
        font-size: 24px;
    }
    .single_slide .slide_text h3 {
        font-size: 18px;
    }
    .single_slide .slide_text h2 {
        font-size: 36px;
    }
    .single_slide .slide_text a {
        padding: 10px 20px;
    }
    .newsletter_text>h4 {
        margin: 0;
    }
    .top_quote>p {
        padding: 7px 0;
    }
    .single_share_link>a {
        padding: 10px;
    }
}


/* ====================
:: Mobile Layout:320px
==================== */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 290px;
    }
    .singl-blog-status-bar>span:nth-child(4) {
        float: none;
    }
    .price_rating_area .timer>li>span {
        display: block !important;
    }
    .social-links {
        padding-left: 0;
    }
    .tags {
        float: left;
    }
    .author-img,
    .comment-img {
        float: none;
        margin-bottom: 30px;
        margin-right: 0;
        max-width: 100%;
    }
    .single_courses.course-list .single_courses_thumb {
        height: 150px;
        position: relative;
        width: 100%;
    }
    .single_courses.course-list .single_courses_desc {
        margin-left: 0;
    }
    .single_courses_desc .title {
        padding: 0 15px;
    }
    .author-content,
    .single-comment {
        float: none;
        width: 100%;
    }
    .author-content,
    .single-comment {
        float: left;
        margin-top: 115px;
        width: 100%;
    }
    .event_next_previous .previous>a,
    .event_next_previous .next>a {
        width: 120px;
    }
    .event_details .single_event_speaker {
        margin-bottom: 30px;
    }
    .event_sidebar {
        margin-top: 50px;
    }
    .popular_coureses_area.all_courses.grid_list .pagination {
        padding-top: 0;
    }
    .about_us_thumb {
        background-color: transparent;
        height: auto;
        margin-top: 0;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .about_us_thumb>img {
        height: auto;
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
    }
    .about_us_thumb.mission img {
        left: 0;
    }
    .accordions {
        margin-top: 30px;
    }
    .gallery_area .single_gallery_item {
        width: 100%;
    }
    .learn_more_button>a {
        margin-left: 5px;
        padding: 8px;
    }
    .single_feature {
        margin-bottom: 30px;
    }
    .awesome_features_area {
        padding-bottom: 70px;
    }
    .single_courses {
        margin-bottom: 30px;
    }
    .cool_fact_text {
        margin-bottom: 30px;
    }
    .cool_facts_area .col-xs-12 .cool_fact_text:after {
        border-right: none;
    }
    .cool_facts_area {
        padding-bottom: 30px;
    }
    .basic_contact_area form>input#name,
    .basic_contact_area form>input#phone {
        width: 100%;
    }
    footer.footer_area .col-sm-6 {
        margin-top: 50px;
    }
    footer.footer_area .col-sm-6:last-child {
        margin-top: 0;
    }
    .teacher_thumb img {
        width: 100%;
    }
    .single_teacher_profile {
        margin-bottom: 30px;
    }
    .our_teachers_area {
        padding-bottom: 70px;
    }
    .single_latest_news_area {
        margin-bottom: 30px;
    }
    .blog_area {
        padding-bottom: 70px;
    }
    .basic_contact_area {
        margin-bottom: 50px;
    }
    .important_links .underline {
        float: left;
    }
    .teacher_details_info .name_designation {
        margin-top: 30px;
    }
    .single_latest_news_img_area {
        float: none;
        width: 100%;
        display: block;
        min-height: auto;
    }
    .single_latest_news_text_area {
        display: block;
        min-height: auto;
        padding: 20px;
        width: 100%;
    }
    .pagination li a {
        padding: 5px;
        font-size: 12px;
    }
    .important_links .underline {
        float: none;
    }
    .breadcumb_area {
        height: 200px;
    }
    .breadcumb_section {
        height: auto;
    }
    .page_title {
        display: none;
    }
    .login_thumb_caption>h3,
    .login_thumb_caption>p {
        right: 8px;
    }
    .login_thumb_caption>p {
        font-size: 12px;
    }
    .login_area .login_form {
        margin-top: 0;
    }
    .register_form,
    .login_form {
        height: auto;
        padding: 15px;
    }
    .register_form .single_input_area:last-child {
        margin-bottom: 0;
    }
    .sign_in_facebook,
    .sign_in_twitter,
    .sign_in_vidchain {
        display: block;
    }
    .sign_in_twitter,
    .sign_in_vidchain {
        margin-left: 0;
        margin-top: 15px;
    }
    .register_form .single_input_area>input,
    .login_manual_form .single_input_area>input {
        width: 70%;
    }
    .login_thumb {
        display: none;
    }
    .register_form {
        margin-top: 0;
    }
    .forget_pass.login {
        display: none;
    }
    .newsletter_area form button {
        padding: 10px;
    }
    .newsletter_text>h4 {
        margin: 0 0 15px 0;
    }
    .price_plan_area {
        padding-bottom: 50px;
    }
    .price_plan_area .single_price_plan {
        margin-bottom: 50px;
    }
    .popular_coureses_area.home2.event-list .single_courses .single_courses_desc {
        padding-left: 0 !important;
    }
    .popular_coureses_area.home2.event-list .single_courses .single_courses_thumb {
        display: block !important;
        height: auto;
        width: 100%;
        position: relative;
        height: 150px;
    }
    .popular_coureses_area.home2 .price_rating_area {
        padding: 15px 15px 0;
    }
    .single_slide .slide_text h3 {
        font-size: 16px;
        padding: 0 15px;
        line-height: 24px;
    }
    .single_slide .slide_text h2 {
        font-size: 24px;
        padding: 0 15px;
        line-height: 36px;
        margin-bottom: 15px;
    }
    .single_slide .slide_text a {
        font-size: 14px;
        padding: 10px;
        margin-top: 15px;
    }
    .hidden-xs {
        display: none;
    }
    .cool_fact_text:after {
        border-right: medium none;
    }
    .already_have_account {
        bottom: -30px;
        font-size: 12px;
        right: 15px;
    }
    .register_form .form-group>input,
    .login_manual_form .form-group>input,
    .register_form .form-group>input {
        width: 80%;
    }
}


/* ==========================
:: Width Mobile Layout:480px
========================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
    .tags {
        float: left;
    }
    .author-content,
    .single-comment {
        margin-top: 155px;
    }
    .welcome_text h1 {
        font-size: 36px;
    }
    .pagination li a {
        font-size: 14px;
        padding: 8px;
    }
    .learn_more_button>a {
        margin-left: 15px;
        padding: 20px;
    }
    .sign_in_facebook,
    .sign_in_twitter,
    .sign_in_vidchain {
        display: inline-block;
    }
    .register_form,
    .login_form {
        height: auto;
    }
    .sign_in_facebook>a,
    .sign_in_twitter>a,
    .sign_in_vidchain>a {
        font-size: 12px;
    }
    .page_title {
        display: inline-block;
    }
    .navbar-nav>li>a:after {
        width: 20%;
    }
    .single_course_catagory_img img {
        width: 100%;
    }
    .single_upcoming_event .location_time_area .location {
        border-bottom: none;
        border-radius: 1px solid rgba(255, 255, 255, 0.3);
        padding: 15px 10px 15px 0;
    }
    .event_single_post {
        margin-bottom: 30px;
    }
    .popular_coureses_area.home2.event-list .single_courses .single_courses_thumb {
        display: block;
        height: 200px;
        position: relative;
        width: 100%;
    }
    .popular_coureses_area.grid_coundown .price_rating_area .timer>li>span {
        display: inline-block !important;
    }
    .already_have_account {
        font-size: 12px;
        right: 15px;
    }
}