/*------------------------------------------------------------------
    Version: 1.0
-------------------------------------------------------------------*/

.modal-header{
    background-color: #fff;
    background-image: url(../../vidchain/img/vidchain-login.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}
.modal-header h4{
    font-size: 22px !important;
}
.modal-title{
    color:#888B8D;
    margin: 15px 0 15px 200px;
    text-align: right;
}

.modal-backdrop {
  z-index: -1;
}

.modal-lg{
    max-width: 500px;
}

.vidmodal{
    height: 100vh;
    max-height: 70vh;
}

.vidchain {
    background-color: #888B8D;
}

iframe {
    height: 60vh !important;
    background-color: #888B8D;
}